.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;

}

.pokemon-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px 0;
}

.pokemon-card{
    background-color: rgb(255, 215, 215);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.3);
    overflow: hidden;
    flex: calc(33.33333% - 32px);
    max-width: calc(33.33333% - 32px);
    min-width: 250px;
}
.pokemon-image{
    width: 100%;
    height: 250px;
    object-fit: contain;
    background: linear-gradient(135deg, color#ff0000, color#ff0000);
}
.pokemon-info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.pokemon-name{
    font-size: 18pt;
    text-transform: capitalize;
    color: #666;
}

.pokemon-type{
    border-radius: 20px;
    padding: 6px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
.type-electric{
    background: linear-gradient(135deg, #0007,#e1ff5c);
}
.type-grass{
    background: linear-gradient(135deg, #0007,#83ff8e);
}
.type-fire{
    background: linear-gradient(135deg, #0007,#ff0202);
}

.type-water{
    background: linear-gradient(135deg, #0007,#0099ff);
}
.type-normal{
    background: linear-gradient(135deg, #0007,#f9bbff);
}
.type-ghost{
    background: linear-gradient(135deg, #0007,#be5cff);
}
.type-psychic{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.467),#5f007c);
}

@media screen and (max-width: 900px) {
    .pokemon-card{
        flex: calc(50% - 38px);
        max-width: calc(50% - 32px);
    }
}
@media screen and (max-width: 548px) {
    .pokemon-card{
        flex: 100%;
        max-width: 100%;
    }
}